.brand-logo {
  font-size: 50px;
  background-image: url("photos/collage-various-food-products-260nw-712964140.webp");
  font-weight: bolder;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
}

a {
  padding: 10px;
}

/* Stickey Footer */

.row {
  min-height: 100%;
  margin-bottom: -75px; 
}

.row:after {
  content: "";
  display: block;
}

html,
body {
height: 100%;
}

.foot, .row:after {
  height: 75px; 
}

/* End Stickey Footer*/

ul {
  display: none;
}

span {
  padding: 5px;
}
h5 {
  display: none;
}
.carousel {
  margin-top: 40px;
}