.brand-logo {
  font-size: 50px;
  background-image: url("photos/collage-various-food-products-260nw-712964140.webp");
  font-weight: bolder;
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
}

a {
  padding: 10px;
}

/* Stickey Footer */

.mainRow {
  min-height: 100%;
  margin-bottom: -75px; 
}

.mainRow:after {
  content: "";
  display: block;
}

html,
body {
height: 100%;
}

.foot, .mainRow:after {
  height: 75px; 
}

/* End Stickey Footer*/

ul {
  display: none;
}

p {
  margin: 2px;
}

h6 {
  text-decoration: underline;
  text-decoration-color: turquoise;
}



